<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <h1>Sign Up</h1>

    {% for msg in form.Fname.errors %}
    <div>{{msg}}</div>
    {% endfor %}

    {% for msg in form.email.errors %}
    <div>{{msg}}</div>
    {% endfor %}

    {% for msg in form.passwd.errors %}
    <div>{{msg}}</div>
    {% endfor %}

    <form action=http://127.0.0.1:5000/signup method = 'post'>

    <table>
        <tr>
            <td>{{form.Fname.label}}</td>
            <td>{{form.Fname}}</td>
        </tr>
        <tr>
            <td>{{form.email.label}}</td>
            <td>{{form.email}}</td>
        </tr>
            <tr>
            <td>{{form.passwd.label}}</td>
            <td>{{form.passwd}}</td>
        </tr>
        <tr>
            <td>{{form.gender.label}}</td>
            <td>{{form.gender}}</td>
        </tr>
            <tr>
            <td>{{form.age.label}}</td>
            <td>{{form.age}}</td>
        </tr>
        <tr>
            <td>{{form.submit}}</td>
        </tr>
</table>
    </form>
</body>
</html>