{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <div class="boxes">
    {% for _ in range(boxes) %}
      <div class="box">
<!--        <input type="text" placeholder="Enter name">-->
        <h4>Lot Number</h4>
        <div class="buttons">
          {% for i in range(rows) %}
            {% for j in range(cols) %}
              <button type="button">{{ i * cols + j + 1 }}</button>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
