<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lots</title>
</head>
<body>
<h2>User-{{userid}}: {{username}}</h2>

<table border="1">
    {% if details %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Booking ID</th>
                    <th>Vehicle Number</th>
                    <th>Spot ID</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Price/Hour (₹)</th>
                    <th>Duration (sec)</th>
                    <th>Price (₹)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in details %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }} - {{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] or 'Ongoing'}}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    {% if row[6] == 'Completed' %}
                        <td>{{ row[11] }}</td>
                    {% else %}
                        <td>Still Parked</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">No booking records found.</div>
        {% endif %}


</table>
    <div class="text-center mt-3">
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-primary">Back to Dashboard</a>
    </div>
</div>

</body>
</html>